@media (max-width: 576px) { 
    /* Spacing rules */
    .mt-16{
        margin-top: 16px;

    }

    .centerFlex{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .displayNone{
        display: none;
    }

    .textCenterMod{
        text-align: center;
    }

    #NavBar .small-inlink {
        min-height: 48px !important;
        min-width: 48px !important;
      }

    .width100{
        width: 100%!important;
        justify-content: center;
    }

    .width50{
        width: 50% !important;
    }

    .width100:nth-child(2){
        margin-top: 16px;
    }

    }
    
    @media (max-width: 768px) { 
    .searchIcon{
        background-color: transparent !important;
    }

    .searchIcon > svg{
        height: 28px;
        width: 28px;
    }

    .fixWidth-sm{
        width: 48px;
        transform: translateY(-2px);
    }

    .flex-justify-end{
        justify-content: flex-end;
    }

    .prMdSM-0{
        padding-right: 0px !important;
    }

 }


@media (max-width: 992px) { 

 }


@media (max-width: 1200px) { 

 }

h6.mouseCursor:hover{
    text-decoration: underline;
    color: blue;
}